body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table {
	margin: 100px auto;
	border: 1px solid black;
    background-color:lightgray;
}

.cell {
    width: 40px;
	height: 40px;
    border: 1px solid black;
    background-color:whitesmoke;
	font-size: 1.5em;
}