body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table {
	border: 1px solid black;
    background-color:lightgray;
    margin: 0 auto;
}

.game-container {
    border: 1px solid black;
    padding: 10px;
    margin: 50px auto;
    width: fit-content;
}

.stats-container {
    border: 1px solid rgba(128, 128, 128, 0.576);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: x-large;
}

.stats-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.stats-container span {
    padding: 4px 8px;
    padding: 2px;
    outline: 1px solid rgba(128, 128, 128, 0.576);
    cursor: default;
}

.stats-container .btn {
    cursor: pointer;
}

.hint-mode {
    background-color: #c2aa0b;
}

.stats-container .safe-click-counter {
    outline: none;
}

.cell {
    width: 40px;
	height: 40px;
    border: 1px solid black;
    background-color:whitesmoke;
	font-size: 1.5em;
    cursor: pointer;
}

.cell.revealed {
    cursor: default;
}

.cell.marked {
    cursor: default;
}

.cell:hover {
    background-color:rgb(173, 190, 200);
}