body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table {
	border: 1px solid black;
    background-color:lightgray;
    margin: 0 auto;
}

.game-container {
    border: 1px solid black;
    padding: 10px 10px;
    margin: 50px auto;
    display: inline-block;
    white-space: nowrap;
}

.stats-container {
    margin: 0 auto 0;
    font-size: x-large;
    border: 1px solid rgba(128, 128, 128, 0.576);
}

.stats-container div {
    margin: 10px auto;
}

.stats-container span {
    margin: 2px 1.5%;
    padding: 2px;
    outline: 1px solid rgba(128, 128, 128, 0.576);
    cursor: default;
}

.stats-container .btn {
    cursor: pointer;
}

.hint-mode {
    background-color: #c2aa0b;
}

.cell {
    width: 40px;
	height: 40px;
    border: 1px solid black;
    background-color:whitesmoke;
	font-size: 1.5em;
    cursor: pointer;
}

.cell.revealed {
    cursor: default;
}

.cell.marked {
    cursor: default;
}

.cell:hover {
    background-color:rgb(173, 190, 200);
}