body {
    text-align: center;;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
	border: 1px solid black;
    background-color:lightgray;
    margin: 0 auto;
}

.game-container {
    border: 1px solid black;
    padding: 10px 10px;
    margin: 50px auto;
}

.stats-container {
    margin: 0 auto 10px;
    font-size: x-large;
    padding: 8px 0;
    border: 1px solid rgba(128, 128, 128, 0.576);
}

.stats-container span {
    margin: 2px 1.5%;
    padding: 2px;
    outline: 1px solid rgba(128, 128, 128, 0.576);
}

.cell {
    width: 40px;
	height: 40px;
    border: 1px solid black;
    background-color:whitesmoke;
	font-size: 1.5em;
}