body {
    text-align: center;;
    font-family: Arial, Helvetica, sans-serif;
}

table {
	border: 1px solid black;
    background-color:lightgray;
    margin: 0 auto;
}

.game-container {
    margin: 50px auto;
}

.stats-container {
    margin: 15px auto;
}

.cell {
    width: 40px;
	height: 40px;
    border: 1px solid black;
    background-color:whitesmoke;
	font-size: 1.5em;
}